/*
Fuentes:
font-family: 'Montserrat', sans-serif;
Color:
color1 #008791
color2 #00936e
color3 #6bb36d
color4 #c5d084
color5 #f7d393
*/

table {
    border-spacing: 30px;
}
.text-center{
    align-items: center;
    justify-content: center;
    text-align: center;
}
a{
    text-decoration: none;
    color: white;
    font-size: large;
}
.nombre{
    text-decoration: underline;
    font-size: larger;
    text-decoration-color: blueviolet;
}
body{
    background-color: black;
}

.parrafo{
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.boton{
    color: blue;
}
button{
    background-color: rgb(81, 97, 245);
}
.sesion{
    color: rgb(223, 27, 180);
    font-family: 'Montserrat', sans-serif;
}
h3{
    font-size: x-large;
    font-family: 'Montserrat', sans-serif;
}